{% extends "layout.html" %}

{% block h1 %}
    Clients
{% endblock %}

{% block main %}
    <h2>We will display a list of clients and an "Add Client" button</h2>
    <br>
    <br>
    <div class="container clients">
        <div class="row">
            <div class="col-md-4 mb-4">
                <h2>New Clients</h2>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">First and Last Name</h5>
                        <p class="card-text"><strong>Address:</strong><br> 17 Woodsview Drive <br> Garnet Valley, PA</p>
                        <p class="card-text"><strong>Type of Work:</strong> Painting</p>
                        <p class="card-text"><strong>Schedule Date:</strong> Painting</p>
                        <p class="card-text"><strong>Upload PDF/View PDF:</strong> <button>View Quote</button></p>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-4 mb-4">
                <h2>Estimate Scheduled</h2>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">First and Last Name</h5>
                        <p class="card-text"><strong>Address:</strong><br> 17 Woodsview Drive <br> Garnet Valley, PA</p>
                        <p class="card-text"><strong>Type of Work:</strong> Painting</p>
                        <p class="card-text"><strong>Schedule Date:</strong> Painting</p>
                        <p class="card-text"><strong>Upload PDF/View PDF:</strong> <button>View Quote</button></p>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-4 mb-4">
                <h2>Estimate in Draft</h2>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">First and Last Name</h5>
                        <p class="card-text"><strong>Address:</strong><br> 17 Woodsview Drive <br> Garnet Valley, PA</p>
                        <p class="card-text"><strong>Type of Work:</strong> Painting</p>
                        <p class="card-text"><strong>Schedule Date:</strong> Painting</p>
                        <p class="card-text"><strong>Upload PDF/View PDF:</strong> <button>View Quote</button></p>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-4 mb-4">
                <h2>Estimate Sent</h2>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">First and Last Name</h5>
                        <p class="card-text"><strong>Address:</strong><br> 17 Woodsview Drive <br> Garnet Valley, PA</p>
                        <p class="card-text"><strong>Type of Work:</strong> Painting</p>
                        <p class="card-text"><strong>Schedule Date:</strong> Painting</p>
                        <p class="card-text"><strong>Upload PDF/View PDF:</strong> <button>View Quote</button></p>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">First and Last Name</h5>
                        <p class="card-text"><strong>Address:</strong><br> 17 Woodsview Drive <br> Garnet Valley, PA</p>
                        <p class="card-text"><strong>Type of Work:</strong> Painting</p>
                        <p class="card-text"><strong>Schedule Date:</strong> Painting</p>
                        <p class="card-text"><strong>Upload PDF/View PDF:</strong> <button>View Quote</button></p>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">First and Last Name</h5>
                        <p class="card-text"><strong>Address:</strong><br> 17 Woodsview Drive <br> Garnet Valley, PA</p>
                        <p class="card-text"><strong>Type of Work:</strong> Painting</p>
                        <p class="card-text"><strong>Schedule Date:</strong> Painting</p>
                        <p class="card-text"><strong>Upload PDF/View PDF:</strong> <button>View Quote</button></p>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-4 mb-4">
                <h2>Estimate Sent</h2>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">First and Last Name</h5>
                        <p class="card-text"><strong>Address:</strong><br> 17 Woodsview Drive <br> Garnet Valley, PA</p>
                        <p class="card-text"><strong>Type of Work:</strong> Painting</p>
                        <p class="card-text"><strong>Schedule Date:</strong> Painting</p>
                        <p class="card-text"><strong>Upload PDF/View PDF:</strong> <button>View Quote</button></p>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">First and Last Name</h5>
                        <p class="card-text"><strong>Address:</strong><br> 17 Woodsview Drive <br> Garnet Valley, PA</p>
                        <p class="card-text"><strong>Type of Work:</strong> Painting</p>
                        <p class="card-text"><strong>Schedule Date:</strong> Painting</p>
                        <p class="card-text"><strong>Upload PDF/View PDF:</strong> <button>View Quote</button></p>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">First and Last Name</h5>
                        <p class="card-text"><strong>Address:</strong><br> 17 Woodsview Drive <br> Garnet Valley, PA</p>
                        <p class="card-text"><strong>Type of Work:</strong> Painting</p>
                        <p class="card-text"><strong>Schedule Date:</strong> Painting</p>
                        <p class="card-text"><strong>Upload PDF/View PDF:</strong> <button>View Quote</button></p>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-4 mb-4">
                <h2>Estimate Sent</h2>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">First and Last Name</h5>
                        <p class="card-text"><strong>Address:</strong><br> 17 Woodsview Drive <br> Garnet Valley, PA</p>
                        <p class="card-text"><strong>Type of Work:</strong> Painting</p>
                        <p class="card-text"><strong>Schedule Date:</strong> Painting</p>
                        <p class="card-text"><strong>Upload PDF/View PDF:</strong> <button>View Quote</button></p>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">First and Last Name</h5>
                        <p class="card-text"><strong>Address:</strong><br> 17 Woodsview Drive <br> Garnet Valley, PA</p>
                        <p class="card-text"><strong>Type of Work:</strong> Painting</p>
                        <p class="card-text"><strong>Schedule Date:</strong> Painting</p>
                        <p class="card-text"><strong>Upload PDF/View PDF:</strong> <button>View Quote</button></p>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">First and Last Name</h5>
                        <p class="card-text"><strong>Address:</strong><br> 17 Woodsview Drive <br> Garnet Valley, PA</p>
                        <p class="card-text"><strong>Type of Work:</strong> Painting</p>
                        <p class="card-text"><strong>Schedule Date:</strong> Painting</p>
                        <p class="card-text"><strong>Upload PDF/View PDF:</strong> <button>View Quote</button></p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}