{% extends "layout.html" %}

{% block main %}
    <h2>Welcome to our scheduling platform!</h2>
    <h2>
        Please see a list of your clients and at which stage they are in
        <br>
        Click "New Client" in the navigation to manually add a client!
    </h2>
    <br>
    <h3>$ {{total}}</h3>
    <br>
    <div class="container clients">
        <div class="row">
            <div class="col-md-4 mb-4">
                <h2>New Clients</h2>
                {% for client in new %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{client.first_name}}{{client.last_name}}</h5>
                        <p class="card-text"><strong>Address:</strong><br> {{client.address}}</p>
                        <p class="card-text"><strong>Type of Work:</strong> {{client.work_type}}</p>
                        <a href="/schedule" class="btn btn-primary">Set Schedule</a>
                        <p class="card-text"><strong>Upload PDF/View PDF:</strong> <button>View Quote</button></p>
                    </div>
                    <form action="{{ url_for('delete_client') }}" method="post">
                        <input type="hidden" name="contact_id" value="{{client.contacts_id}}">
                        <button class="btn btn-primary" type="submit">Delete Client</button>
                    </form>
                </div>
                {% endfor %}
                <div>
                    
                </div>    
            </div>
        <div class="row">
            <div class="col-md-4 mb-4">
                <h2>Estimate Scheduled</h2>
                {% for client in scheduled %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{client.first_name}} {{client.last_name}}</h5>
                        <p class="card-text"><strong>Address:</strong><br> {{client.address}}</p>
                        <p class="card-text"><strong>Type of Work:</strong> {{client.work_type}}</p>
                        <p class="card-text"><strong>Schedule Date:</strong> {{client.month}}/{{client.day}}/{{client.year}}<br>
                            {{client.hour}}:{{client.minute}}</p>
                        <p class="card-text"><strong>Upload PDF/View PDF:</strong> <button>View Quote</button></p>
                        
                    </div>
                    <form action="{{ url_for('update_status') }}" method="post">
                        <input type="radio" name="status" value="draft">
                        <label for="draft">In Draft</label>
                        <br>
                        <input type="radio" name="status" value="sent">
                        <label for="sent">Estimate Sent</label>
                        <br>
                        <input type="hidden" name="client_id" value="{{ client['contacts_id'] }}">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </form>
                    <form action="{{ url_for('delete_client') }}" method="post">
                        <input type="hidden" name="contact_id" value="{{client.contacts_id}}">
                        <button class="btn btn-primary" type="submit">Delete Client</button>
                    </form>
                </div>
                {% endfor %}
            </div>
        </div>
            
        <div class="row">
            <div class="col-md-4 mb-4">
                <h2>Estimate in Draft</h2>
                {% for client in draft %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{client.first_name}} {{client.last_name}}</h5>
                        <p class="card-text"><strong>Address:</strong><br> {{client.address}}</p>
                        <p class="card-text"><strong>Type of Work:</strong> {{client.work_type}}</p>
                        <p class="card-text"><strong>Schedule Date:</strong> {{client.month}}/{{client.day}}/{{client.year}}<br>
                            {{client.hour}}:{{client.minute}}</p>
                        {% if client.status == 'draft'%}
                        <p class="card-text"><strong>Estimate Status:</strong> {{client.status}}</p>
                        <form action="{{ url_for('update_status') }}" method="post">
                            <input type="radio" name="status" value="sent">
                            <label for="sent">Estimate Sent</label>
                            <br>
                            <input type="hidden" name="client_id" value="{{ client['contacts_id'] }}">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </form>
                        {% else %}
                        <form action="{{ url_for('update_status') }}" method="post">
                            <input type="radio" name="status" value="draft">
                            <label for="draft">In Draft</label>
                            <br>
                            <input type="radio" name="status" value="sent">
                            <label for="sent">Estimate Sent</label>
                            <br>
                            <input type="hidden" name="client_id" value="{{ client['contacts_id'] }}">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </form>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-4">
                <h2>Estimate Sent</h2>
                {% for client in sent %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{client.first_name}} {{client.last_name}}</h5>
                        <p class="card-text"><strong>Address:</strong><br> {{client.address}}</p>
                        <p class="card-text"><strong>Type of Work:</strong> {{client.work_type}}</p>
                        <p class="card-text"><strong>Schedule Date:</strong> {{client.month}}/{{client.day}}/{{client.year}}<br>
                            {{client.hour}}:{{client.minute}}</p>
                        <p class="card-text"><strong>Upload PDF/View PDF:</strong> <button>View Quote</button></p>
                        <form action="{{ url_for('update_status') }}" method="post">
                            <input type="radio" name="status" value="won">
                            <label for="draft">Quote Accepted</label>
                            <br>
                            <input type="radio" name="status" value="lost">
                            <label for="sent">Quote Rejected</label>
                            <br>
                            <input type="hidden" name="client_id" value="{{ client['contacts_id'] }}">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </form>
                    </div>
                </div>
                {% endfor %}
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-4 mb-4">
                <h2>Job Accepted</h2>
                {% for client in won %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{client.first_name}} {{client.last_name}}</h5>
                        <p class="card-text"><strong>Address:</strong><br> {{client.address}}</p>
                        <p class="card-text"><strong>Type of Work:</strong> {{client.work_type}}</p>
                        <p class="card-text"><strong>Schedule Date:</strong> {{client.month}}/{{client.day}}/{{client.year}}<br>
                            {{client.hour}}:{{client.minute}}</p>
                        <p class="card-text"><strong>Upload PDF/View PDF:</strong> <button>View Quote</button></p>
                        {% if client.price %}
                        <p class="card-text"><strong>Price:</strong> $ {{client.price}}</p>
                        {% else %}
                        <form action="{{ url_for('add_price') }}" method="post">
                            <input type="number" id = "price" name="price">
                            <label for="price">Job Price</label>
                            <input type="hidden" name="client_id" value="{{ client['contacts_id'] }}">
                            <button type="submit" class="btn btn-primary">Add Price</button>
                        </form>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-4 mb-4">
                <h2>Job Rejected</h2>
                {% for client in lost %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{client.first_name}} {{client.last_name}}</h5>
                        <p class="card-text"><strong>Address:</strong><br> {{client.address}}</p>
                        <p class="card-text"><strong>Type of Work:</strong> {{client.work_type}}</p>
                        <p class="card-text"><strong>Schedule Date:</strong> {{client.month}}/{{client.day}}/{{client.year}}<br>
                            {{client.hour}}:{{client.minute}}</p>
                        <p class="card-text"><strong>Upload PDF/View PDF:</strong> <button>View Quote</button></p>
                    </div>
                    <form action="{{ url_for('delete_client') }}" method="post">
                        <input type="hidden" name="contact_id" value="{{client.contacts_id}}">
                        <button class="btn btn-primary" type="submit">Delete Client</button>
                    </form>
                </div>
                {% endfor %}
            </div>
            
        </div>
        
    </div>
   
{% endblock %}