{% extends "layout.html" %}

{% block title %}
    Change Password / Delete Account
{% endblock %}

{% block main %}
    <form action="/password" method="post">

        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="new_password" name="new_password" placeholder="new_password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="confirmation" type="password">
        </div>
        
        <button class="btn btn-primary" type="submit">Change Password</button>
        <br>
    </form>
    <form action="{{ url_for('delete_member') }}" method="post">
        <button class="btn btn-primary" type="submit">Delete Client</button>
    </form>
{% endblock %}